.card-img,
.card-img-top,
.card-img-bottom {
	aspect-ratio: 16 / 16;
}

#img {
	filter: brightness(95%);
}

.link {
	all: unset;
}

p {
	margin-bottom: 0.5rem !important;
}

#price {
	font-size: 1.2rem;
	font-weight: bold;
}

.card {
	width: 15%;
	margin: 1rem;
}

.card a {
	color: var(--bs-card-title-color);
	display: block;
	position: relative;
}

.ProjectContainers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 4rem;
	width: 85%;
}

.fullScreen {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.CategorySort {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;

	width: 15%;
}
.CategoryItems {
	margin: 1rem;
	padding: 0.25rem;
}

.CategorySort button {
	margin-bottom: 2rem;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1200px) {
	.card {
		width: 20%;
	}
}

@media screen and (max-width: 992px) {
	.fullScreen {
		flex-direction: column;
		align-items: center;
	}
	.ProjectContainers {
		width: 100%;
	}
	.CategorySort {
		width: 90%;
		margin-bottom: 2rem;
		flex-direction: row;
		font-size: small;
	}
}

@media screen and (max-width: 768px) {
	.card {
		width: 30%;
	}
}

@media screen and (max-width: 576px) {
	.card {
		width: 45%;
	}
	#price {
		font-size: 1rem;
	}
}

@media screen and (max-width: 400px) {
	.card {
		width: 100%;
	}
	#price {
		font-size: 0.9rem;
	}
}
